# 빌드 산출물
lib/
src/*.o
examples/*.o
bin/

# DB 설정
dbconfig.conf
examples/board/app.conf

# 런타임 산출물
examples/board/board.db
examples/board/uploads/
logs/

# macOS
.DS_Store
.DS_Store?

# 에디터
*.swp
*.swo
.vscode/
/.idea/.gitignore
/.idea/editor.xml
/.idea/misc.xml
/.idea/vcs.xml
